.gallery img{
    width: 45%;
    height: 10;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1{
    font-family: impact, fantasy;
    text-align: center;
    font-size: 75px;
    color: rgb(212, 18, 18);
    font-style: italic;
    text-shadow: black 2px 2px;
}

h2{
    font-family: impact, fantasy;
    text-align: center;
    font-size: 30px;
    color: rgb(212, 18, 18);
    font-style: italic;
    text-shadow: black 2px 2px;
}

h4{
    font-family: impact, fantasy;
    font-size: 20px;
    color: rgb(244, 0, 0);
    font-style: italic;
    text-shadow: black 2px 2px;
}

p{
    font-family: Helvetica, sans-serif;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: cornflowerblue;
    padding-top: 12px;
}

#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;

    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: #5077bd;
    

}